*{
    margin: 0;
    border: border-box;
}
body{
    border: 16px solid #FFFC9B;
    background-color:#B7E5B4;
}
.body{
    /* border: 4px solid rgb(232, 8, 0); */
    /* height: 1200px;
    width: 1100px; */
    display:block;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    
}
.imgbox{
    /* height: 300px;
    width: 1000px;  */
    margin: 100px;
    display: flex;
    justify-content:space-between;
    /* border: 4px solid rgb(155, 0, 172); */
    margin-left: 1px;
    margin-right: 1px;
}
.img{
    height: 300px;
    width: 300px;
    background-image: url(virat.jpeg);
    background-size:cover;
    border-radius: 50%;
    border: 16px solid #FFFC9B;;
}
.text{
    font-size: 70px;
    font-weight: 500;
    text-align: end;
    margin-top: 180px;
    /* border: 4px solid rgb(227, 172, 52); */

}
.text p{
    font-size: 30px;
}
.cont{
    /* border: 4px solid rgb(34, 29, 17); */

}
.cont h1{
    font-size: 35px
    /* font-weight: 500; */

}
.cont p{
    margin-top: 20px;
    font-size: 20px;
}
.record{
    margin-top: 50px;
    /* border: 4px solid rgb(255, 179, 0); */
    font-size: 18px;
    text-align:left;
}
h1{
    margin-top: 40px;
}
ul.a{
    margin-top: 30px;
    list-style-type:disc;
}
li.b{
    font-size: 25px;
    font-weight: 300;
}
li.c{
    margin-left: 40px;
}
.name{
    margin-top: 40px;
    text-align:center;
}